<h1>Security verification</h1>
<p>Dear valued user</p>
<p>Please confirm your email by entering the code below:</p>
<p style="font-weight:bold;font-size:28px;">{{code}}</p>

<p>For security reasons, the verification code will expire in {{expire}} minutes. Please do not share the verification code with anyone.</p>
<p>This is an automated message, please do not reply.</p>
